In [9]:
import pandas as pd

In [10]:
victims = pd.read_excel('Victims_Age_by_Offense_Category_2022.xlsx')
victims

,Victims,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"by Offense Category, 2022",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Offense Category,Total\nVictims1,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10 and\nUnder,11−15,16−20,21−25,26−30,31−35,36−40,41−45,46−50,51−55,56−60,61−65,66 and\nOver,Unknown\nAge
4,Total,9715061,161808,313727,642246,1055358,1136941,1132001,1001060,848189,703884,654694,598804,479802,835611,150936
5,Crimes Against Persons,3456189,145725,272605,346638,420370,436189,423128,354483,277881,207148,175579,143857,96851,113436,42299
6,Assault Offenses,3187575,104040,210017,300568,393342,414940,404453,339714,267251,199850,170264,139937,94304,109263,39632
7,Homicide Offenses,18785,702,473,2468,2597,2534,2332,1847,1427,1062,874,744,570,945,210
8,Human Trafficking Offenses,2691,102,588,712,338,228,185,144,83,47,36,24,3,11,190
9,Kidnapping/Abduction,43083,4289,2627,4797,6442,6088,5526,4346,3078,1950,1397,903,543,782,315
10,Sex Offenses,204055,36592,58900,38093,17651,12399,10632,8432,6042,4239,3008,2249,1431,2435,1952
11,Crimes Against Property,6258872,16083,41122,295608,634988,700752,708873,646577,570308,496736,479115,454947,382951,722175,108637
12,Arson,22853,484,318,663,1293,1804,2334,2356,2244,2084,1776,1999,1456,2731,1311
13,Bribery,515,9,26,60,72,73,77,39,41,36,14,13,7,11,37
14,Burglary/Breaking & Entering,578164,2591,2927,19887,49849,59183,63094,59799,53449,47653,47088,46526,40424,77290,8404
15,Counterfeiting/Forgery,78480,112,111,1712,3184,4132,5060,5580,5791,5963,6679,7360,7672,22337,2787
16,Destruction/Damage/Vandalism,1225891,2588,4258,56076,128389,143014,144377,133341,117317,100164,95536,88137,73399,119564,19731
17,Embezzlement,8800,9,16,197,372,608,708,791,828,722,805,778,733,1952,281
18,Extortion/Blackmail,20608,45,1905,6851,3528,1693,1288,1058,908,750,635,520,478,852,97
19,Fraud Offenses,753459,1196,1953,29350,55682,64905,72015,69125,64000,59469,59908,59842,56632,145392,13990
20,Larceny/Theft Offenses,2619852,5496,23094,136566,290201,307962,304299,271791,235848,202782,194738,182275,151457,274957,38386
21,Motor Vehicle Theft,676806,686,401,21719,68745,84499,84716,76015,67503,57863,54781,50673,38768,60149,10288
22,Robbery,168132,946,5684,18748,24492,22166,19905,16809,13751,11017,9925,9107,6649,7675,1258
23,Stolen Property Offenses,105312,1921,429,3779,9181,10713,11000,9873,8628,8233,7230,7717,5276,9265,12067
24,1This table includes only data for the victim ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Elimino las primeras
victims.drop(victims.index[:2], inplace=True)
victims.drop(victims.index[-1], inplace=True)

In [12]:
# Genero el indice que voy a utilizar mas adelante para acomodar la informacion.
indice_age = victims.iloc[1].values[2:]
indice_age = [x for x in indice_age]
indice_age.insert(0,'Total_Victims')
indice_age.insert(0,'Offense Category')
indice_age = [columna.replace('\n', ' ') if isinstance(columna, str) else columna for columna in indice_age]
indice_age

['Offense Category',
 'Total_Victims',
 '10 and Under',
 '11−15',
 '16−20',
 '21−25',
 '26−30',
 '31−35',
 '36−40',
 '41−45',
 '46−50',
 '51−55',
 '56−60',
 '61−65',
 '66 and Over',
 'Unknown Age']

In [13]:
# Genero Nuevo Dataframe con la categoria indicada
Crimes_Against_Property = victims.loc[victims['Victims'] == 'Crimes Against Property'].copy()
Crimes_Against_Property.columns = indice_age[0:len(Crimes_Against_Property.columns)]
Crimes_Against_Property.drop(columns=['Total_Victims'], inplace=True)

In [14]:
# Transformo el Dataframe
Crimes_Against_Property = Crimes_Against_Property.transpose()

In [15]:
# ultimo paso para limpiar y reacomodar el Dataframe
Crimes_Against_Property.drop(Crimes_Against_Property.index[0], inplace=True)
Crimes_Against_Property.columns = ['Crimes Against Property']
Crimes_Against_Property = Crimes_Against_Property.rename_axis('Age')
Crimes_Against_Property

             Crimes Against Property
Age
10 and Under                   16083
11−15                          41122
16−20                         295608
21−25                         634988
26−30                         700752
31−35                         708873
36−40                         646577
41−45                         570308
46−50                         496736
51−55                         479115
56−60                         454947
61−65                         382951
66 and Over                   722175
Unknown Age                   108637

In [16]:
# Exporto el archivo .csv
Crimes_Against_Property.to_csv('Crimes_Against_Property.csv')